<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name></display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>hello_world</servlet-name>
		<servlet-class>com.demo.bussiness.HelloWorld</servlet-class>
		<!-- <load-on-startup>1</load-on-startup> -->
	</servlet>
	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>com.demo.bussiness.User</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>welcome</servlet-name>
		<servlet-class>com.demo.bussiness.Welcome</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>userEdit</servlet-name>
		<servlet-class>com.demo.bussiness.UserEdit</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>userList</servlet-name>
		<servlet-class>com.demo.bussiness.UserList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>userDel</servlet-name>
		<servlet-class>com.demo.bussiness.UserDel</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>jsonResult</servlet-name>
		<servlet-class>com.demo.bussiness.JsonResult</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>paperList</servlet-name>
		<servlet-class>com.demo.bussiness.PaperList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>questionList</servlet-name>
		<servlet-class>com.demo.bussiness.QuestionList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>hello_world</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>welcome</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userList</servlet-name>
		<url-pattern>/userList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userEdit</servlet-name>
		<url-pattern>/userEdit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userDel</servlet-name>
		<url-pattern>/userDel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jsonResult</servlet-name>
		<url-pattern>/jsonResult</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>paperList</servlet-name>
		<url-pattern>/paperList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>questionList</servlet-name>
		<url-pattern>/questionList</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>ss</param-name>
		<param-value>6543211</param-value>
	</context-param>
	<filter>
		<filter-name>myFilter</filter-name>
		<filter-class>com.demo.filter.MyFilter</filter-class>
		<init-param>
			<param-name>ss</param-name>
			<param-value>11111</param-value>
		</init-param>
		<!-- 即使配置两个<init-param> 也只识别第一个 -->
		<init-param>
			<param-name>ss</param-name>
			<param-value>123456</param-value>
		</init-param>

	</filter>
	<filter-mapping>
		<filter-name>myFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
